<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="store.dao.StoreDAO"><!-- Mapper별 패키지 -->

	<select id="selectAllStore" resultType="StoreVO">
		select store_no as no, store_name as storeName, lat, longi, addr 
		  from t_store
	</select>

</mapper>